doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
    meta(charset='UTF-8')
    title Title
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js', integrity='sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top(role='navigation')
      a.navbar-brand(href='#home') sAh
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#home')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#corona_cases') Corona
          li.nav-item
            a.nav-link(href='#Weather') Weather
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
          button.btn.btn-secondary(onclick="cleartable('btnsubmit_weathe')", type='button') CLEAR
    section#home
      h1.titel safe vacation
      form(autocomplete='off')
        #autocomplete.form-group
          label(for='countryinputhome') desired Country
          input#countryinputhome.form-control(name='mycountry', placeholder='Enter a country')
        .form-group
          label(for='cityinputhome') desired City
          input#cityinputhome.form-control(placeholder='Enter a city')
        button#btnsubmit_coronahome.btn.btn-primary.btn-sm(onclick="sendAPIs('countryinputhome', 'cityinputhome')", type='button') SEND
      #Diagramm-Country_infos
        table#countryinfos_table.table.table-dark
          thead
            tr
              th(scope='col') Country
              th(scope='col') Capital
              th(scope='col') Language
              th(scope='col') Currency
              th(scope='col') exchange rate to €
    section#corona_cases
      h1 Corona Cases
      div
        form
          #autocomplete2.form-group
            label(for='countryinput') desired Country
            input#countryinput.form-control(name='mycountry', placeholder='Enter a country')
          button#btnsubmit_corona.btn.btn-primary.btn-sm(onclick="sendCoronaAPI('countryinput')", type='button') SEND
          button.btn.btn-secondary(onclick="cleartable('corona_table')", type='button') CLEAR
        #Diagramm-CoronaFaelle
          table#corona_table.table.table-dark
            thead
              tr
                th(scope='col') Date
                th(scope='col') Country
                th(scope='col') cases(new)
                th(scope='col') Fälle(total)
                th(scope='col') Deaths(total)
    section#Weather
      div
        h1 Weather
      div
        form
          .form-group
            label(for='cityinput') desired City
            input#cityinput.form-control(placeholder='Enter a city')
          button#btnsubmit_weather.btn.btn-primary.btn-sm(onclick="sendWeatherAPI('cityinput')", type='button') SEND
          button.btn.btn-secondary(onclick="cleartable('weather_table')", type='button') CLEAR
        #Diagramm-weather
          table#weather_table.table.table-dark
            thead
              tr
                th(scope='col') Date
                th(scope='col') Country
                th(scope='col') City
                th(scope='col') Temp
                th(scope='col') Max Temp
                th(scope='col') Min Temp